#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientDesc {
    font-weight: 300;
    font-size: 1rem;
}

.clientImgs {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.clientImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}

#clients {
    padding: 2rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background: #FFF041;
    color: #000;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 240, 65, 0.5);
    font-weight: 500;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}
.submitBtn:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(255, 240, 65, 0.8);
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.social-link {
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-link:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.link {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: all 0.3s ease;
}

/* Optional: Add shadow effect to icons on hover */
.social-link:hover .link {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
